@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,300&display=swap');
  .body{
    font-family: 'Noto Sans', sans-serif;
  }
  
  .header {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 20px;
    font-family: 'Noto Sans', sans-serif;
    color: #212121;
  }
  
  .input-section {
    margin-bottom: 20px;
  }
  
  label {
    font-family: 'Noto Sans', sans-serif;
    display: block;
    margin-bottom: 10px;
    color: #212121;
  }
  
  input[type="number"] {
    font-family: 'Noto Sans', sans-serif;
    width: 80%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #7B1FA2;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #212121;
    transition: border-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  input[type="number"]:focus {
    font-family: 'Noto Sans', sans-serif;
    outline: none;
    border-color: #005580;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  button {
    font-family: 'Noto Sans', sans-serif;
    background-color: #7c4dff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
    background-color: #7B1FA2;
    transform: scale(1.05);
  }
  
  .course-input {
    margin-bottom: 15px;
  }
  
  #result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
  }
  
 